.portfolio-header {
  height: 40px;
  display: flex;
  padding: 10px;
  background-color: #2d2f33;
  color: #fff
}

.portfolio-header-item-content-wrapper {
  display: flex;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  gap: 1rem;
}

.portfolio-header-item {
  margin: 0;
  color: #fff;
  text-decoration: none;

  margin-block-start: none;
  margin-block-end: none;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-header-logo {
  display: flex;
  flex-grow: 1;
  gap: 1rem;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.portfolio-header-logo h2 {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.portfolio-content {
  margin: 10px;
}

.portfolio-content-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  gap: 3rem;
}

.portfolio-menu {
  background-color: #f2f2f2;
  position:fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  bottom: 0px;
  right: -150px;
  width: 150px;
}

.portfolio-menu--visible {
  right: 0px;
}

.portfolio-menu-item {
  margin: 1rem;
  color: black;
  text-align: center;
  height: 20px;
}

.portfolio-menu-item:hover {
  background-color: #7C86A6;
}

.portfolio-footer {
  margin: 10px;
}

.portfolio-footer-wrapper {
  display: flex;
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 1000px;
  gap: 1rem;
}

.portfolio-footer-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.portfolio-left-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  bottom: 0px;
  left: calc(( 100vw - 1000px ) / 2 - 3rem);
  height: 300px;
  width: 2rem;
}

.portfolio-right-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  bottom: 0px;
  right: calc(( 100vw - 1000px ) / 2 - 3rem);
  height: 300px;
  width: 2rem;
}

.vertical-line {
  height: 100%;
  border-left: 2px solid black;
  transform: translate(50%, 0);
}

.horizontal-line {
  width: 100%;
  border-top: 2px solid black;
  transform: translate(0, 50%);
}

.rotated-text {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
}
