body {
  margin: 0;
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding-left: 1.3em;
}

ul li:before {
  content: "\25B8";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}