body {
  margin: 0;
  font-family: 'Roboto Slab', serif, 'Open Sans', sans-serif;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding-left: 1.3em;
}

ul li:before {
  content: "\25B8";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #2d2f33;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  height: fit-content;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

@media (hover: hover) {
  button:hover {
    color: #fff;
    background-color: #2d2f33;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}